$text-subtitle : #e83b2f;
$text-black : #424242;
$text-white : #ffffff;
$text-gray : #797979;
$text-link : #61b6c2;
$background-player-purple : #5b3587;
$background-player-red : #e75b30;
$background-related-black : #333333;
$border-gray : 1px solid #d7d7d7;
$border-bottom-gray : 2px solid #d7d7d7;
$line-height-info : 19px;

.titleWrap {
  width: 100%;
  margin-top: 27px;
  margin-bottom: 24px;

  .titleBlock {
    position: relative;
    font-size: 1.75rem;
    font-weight: bold;
    color: $text-black;
    border-left: 5px solid #e02528;
    padding-left: 17px;
  }
}

.detailContainer {
  display: flex;
  flex-wrap: nowrap;
  min-height: 216px;
  background: #282828;
  padding: 30px 19px;
  margin-bottom: 25px;

  .profilePictBlock {
    position: relative;
    width: 130px;
    margin-right: 19px;
    background: #666;
    border-radius: 3px;

    .profileImg {
      position: absolute;
      margin: auto;
      left:0;
      right:0;
      top:0;
      bottom:0;
    }
  }

  .profileInfoBlock {
    width: 100%;
    padding: 7px 0;

    dl.profile {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 8px;
      line-height: 17px;

      &:last-child {
        margin-bottom: 0;
      }

      dt.profile, dd.profile {
        font-size: 1rem;
        font-weight: bold;
        color: $text-white;
      }

      dt.profile {
        width: 10%;
      }

      dd.profile {
        margin-bottom: 0;
        width: 90%;
      }
    }
  }
}

.subTitleBlock {
  font-size: 1.5rem;
  font-weight: bold;
  color: $text-subtitle;
  margin-bottom: 0;
}

.textLink {
  float: right;
  display: block;
  color: $text-link;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: $text-link;
    text-decoration: underline;
  }
}

.wrapperInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .leftBlock {
    min-width: 70%;
    margin-right: 6%;

    .infoBlock {
      justify-content: space-between;

      .innerWrapper {
        width: 176px;

        .backgroundPlayerPurple {
          background-color: $background-player-purple;
        }

        .backgroundPlayerRed {
          background-color: $background-player-red;
        }

        .playerBlock {
          position: relative;
          width: 100%;
          min-height: 78px;
          border-radius: 5px 5px 0 0;

          .playerImg {
            position: absolute;
            margin: auto;
            left:0;
            right:0;
            top:0;
            bottom:0;
          }
        }

        .playerInfoBlock {
          border-left: $border-gray;
          border-top: $border-gray;
          border-right: $border-gray;
          border-bottom: $border-bottom-gray;
          padding: 13px 9px 23px 9px;

          .infoTitle {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 1.2rem;
            font-weight: bold;
            color: $text-black;
          }

          .InfoDescription {
            font-size: 1rem;
            color: $text-gray;
            line-height: $line-height-info;
          }
        }
      }

    }

  }

  .rightBlock {
    width: 24%;
    min-width: 266.39px;

    .infoBlock {
      justify-content: space-between;

      .innerWrapper {
        width: 100%;

        .relatedBlock {
          width: 100%;
          min-height: 120px;
          background-color: $background-related-black;
          padding: 14px 10px;

          .relatedTitle {
            font-size: 1.2rem;
            font-weight: bolder;
            color: $text-white;
            margin-bottom: 15px;
          }

          dl.related {
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 0;
            line-height: $line-height-info;

            dt.related, dd.related {
              font-size: 1rem;
              color: $text-white;
              font-weight: bold;
            }

            dt.related {
              width: 40%;
            }

            dd.related {
              margin-bottom: 0;
              width: 60%;
            }
          }
        }

        .relatedDescriptionBlock {
          border : $border-gray;
          padding: 14px 10px;
          color: $text-gray;
          line-height: $line-height-info;

          .relatedSeeMore {
            padding-top: 22px;
            margin-bottom: 0;
          }
        }
      }
    }

  }

}

/*Free styling*/

.dpn {
  display: none !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.pd0 {
  padding: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb18 {
  margin-bottom: 18px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb24 {
  margin-bottom: 24px !important;
}

.ovh {
  overflow: hidden;
}

.rowNoMinus {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mt25 {
  margin-top: 25px;
}

/*End Free styling*/

@media screen and (max-width: 769px) {

  .detailContainer {

    .profilePictBlock {
      width: 50%;
    }

    .profileInfoBlock {
      width: 50%;

      dl.profile {

        dt.profile {
          width: 28%;
        }

        dd.profile {
          width: auto;
        }
      }

    }

  }

  .wrapperInfo {

    .leftBlock {
      margin-right: 0;

      .infoBlock {

        .innerWrapper {
          margin-bottom: 5%;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .rightBlock {

      .infoBlock {

        .innerWrapper {

          .relatedBlock {

            dl.related {

              dt.related {
                width: 15%;
              }

              dd.related {
                width: 85%;
              }
            }
          }
        }
      }
    }

    .leftBlock, .rightBlock {
      width: 100%;
    }
  }

  .mb50 {
    margin-bottom: 5% !important;
  }

}

@media screen and (max-width: 440px) {

  html {
    font-size: 14px;
  }

  .detailContainer {
    flex-wrap: wrap;

    .profilePictBlock {
      width: 100%;
      height: 156px;
      margin-right: 0;
      margin-bottom: 5%;
    }

    .profileInfoBlock {
      width: 100%;

      dl.profile {

        dt.profile {
          width: 50%;
        }

        dd.profile {
          width: auto;
        }
      }

    }

  }

  .wrapperInfo {

    .leftBlock {

      .infoBlock {

        .innerWrapper {
          width: 100%;
        }
      }
    }

    .rightBlock {
      width: 100% !important;

      .infoBlock {

        .innerWrapper {

          .relatedBlock {

            dl.related {

              dt.related {
                width: 40% !important;
              }

              dd.related {
                width: 60% !important;
              }
            }
          }
        }
      }
    }
  }

}
